<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>jQuery repeatable.js Plugin Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../static/js/jquery.repeatable.js"></script>
</head>
<body>
<h1>
    Algorithms
</h1>
<p>
    Please choose algorithms to start:
</p>
<form action="train" method="post">
<fieldset class="todos_labels">
    <div class="repeatable"></div>
    <div class="form-group" style="text-align:center;">
        <input type="button" value="Add Algorithm" class="btn btn-default add" align="center">
        <input type="submit" value="Start!" class="btn btn-default" align="center">
    </div>
</fieldset>
</form>
<script type="text/template" id="todos_labels">
          <div class="field-group row">
            <label for="algo_name{?}">Algorithm</label>
            <select id="algo_name{?}" name="algo_name[{?}]">
            {% for algorithm in algorithms %}
             <option value="{{algorithm}}">{{algorithm.split("_")[-1]}}</option>
            {% endfor %}
         </select><br>
            <label for="algo_params{?}">Parameters (JSON)</label>
            <textarea class="span2 form-control" name="algo_params[{?}]" id="algo_params{?}"></textarea>
            <input type="button" class="btn btn-danger span-2 delete" value="Remove"/>
          </div>
</script>
<script>
		$(function() {
			$(".todos_labels .repeatable").repeatable({
				addTrigger: ".todos_labels .add",
				deleteTrigger: ".todos_labels .delete",
				template: "#todos_labels",
				startWith: 1,
				max: 5
			});
		});
</script>
</body>
</html>
