<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Preprocess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"
          type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <h1>
        {{session['title'].capitalize()}}
    </h1>
    <p>
        To download HTML report please <a href="static/export/{{session['title'].lower()}}.html" target="_blank">click here</a>.
    </p>
    <form action="/preprocess" method="post">
         <label for="label">Label:</label>
            <select id="label" name="label">
            {% for column in columns %}
                <option value="{{column}}">{{column}}</option>
            {% endfor %}
        </select><br><br>
         <label for="smote">SMOTE (automatic class balancer):</label>
         <input type="checkbox" id="smote" name="smote"><br><br>
         <label for="impute">impute technic:</label>
         <select id="impute" name="impute">
             <option value="None" selected>None</option>
             <option value="median">median</option>
             <option value="mean">mean</option>
             <option value="common">common</option>
         </select><br><br>
         <label for="filterFeatures">Filter Feature correlation by:</label>
         <select id="filterFeatures" name="filterFeatures">
             <option value="None" selected>None</option>
             <option value="median">median</option>
             <option value="mean">mean</option>
             <option value="threshold 0.5">threshold 0.5</option>
         </select>
        <br><br>
         <label for="dropColumns">Drop Columns:</label><br>
            <select id="dropColumns" name="dropColumns" multiple>
            {% for column in columns %}
                <option value="{{column}}">{{column}}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit" value="Preprocess!">
    </form>
</body>
</html>